<!DOCTYPE html>
<html>
	<head>


        <link rel="stylesheet" href="styles.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="jquery.matchHeight.js" type="text/javascript"></script>
        <script src='script.js'></script>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
       	<link href='https://fonts.googleapis.com/css?family=Lato:500, 700' rel='stylesheet' type='text/css'>
		<title>Santa Barbara Tech List</title>
	</head>

	<body>
        <header>
           <div id="nav">
                <ul>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="contact.html">INQUIRIES</a></li>
                    <li><a href="index.html">THE LIST</a></li>
                </ul>
            </div>
        </header>

        <div id="List">

            <table>
                <tr>
                    <td>Name of Company</td>
                    <td>Type of Company</td>
                    <td>Descriptioin</td>
                    <td>Website</td>
                    <td>Street Address</td>
                    <td>City</td>
                    <td>zipcode</td>
                    <td>Approximate number of employees</td>
                    <td>Year Founded</td>
                </tr>
                {% for item in list_Sbtechorgs %}
                <tr>
                    <td>{{ item.field1 }}</td>
                     ...
                    <td>{{ item.fieldN }}</td>
                </tr>
                    {% endfor %}
                </table>

        </div>

        <footer>
            <p> Site Property of David Pricco and Perspective PMA || Design and Code @ Joytika Jit <br>
                All Rights Reserved </p>
        </footer>
    </body>
</html>